* {
	margin: 0px;
}

.header{
	width: 100%;
    height: 100px;
    background: radial-gradient(#db11ea, #ab00b8);
    float: left;
	
}

#myHeading{
	padding-left: 700px;
    padding-top: 30px;
    float: left;
}