*{
    margin: 0%;
    padding: 0%;
}

.body {
    width: 100%;
    height: 1000px;
}

.header{
    float: left;
    width: 100%;
    height: 70px;
    background-color: white;
}

.logo{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background-color: white;
    width: 10%;
    height: 100px;
}

.nav_bar{
    background-color: white;
    float: right;
    width: 40%;
    margin-top: 25px;
}
.nav_ele{
    text-decoration-color: black;
    font-family: arial;
    float: right;
    width: 20%;
    text-align: center;
    text-transform: capitalize;
}
.nav_ele:hover{
    text-decoration: underline;
}

.img1{
    height: 450px;
    width: 60%;
    float: left;
    background-color: aqua;
}

#myContainer1{
    height: 450px; 
    background-image: url(img_1.jpg);
    width: 75%;
    float: left;
    background-color: aqua;
}

.box1{
    float: right;
    height: 650px;
    width: 23.5%;
    background-color: #10105a;
}

.inside_box_1 {
    float: left;
    font-family: arial;
    color: #f5780c;
    font-size: 40px;
    margin-left: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}


.inside_cont_1 {
    float: left;
    font-family: arial;
    color: white;
    font-size: 20px;
    margin-left: 12px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 15px;
}

.inside_cont_2 {
    float: left;
    font-family: arial;
    color: #b7afaf;
    font-size: 18px;
    margin-left: 12px;
    font-weight: 600;
    width: 90%;
    margin-bottom: 15px;
}

.line_1 {
    margin-bottom: 30px;
    margin-left: 2.5%;
    width: 95%;
    height: 3px;
    background-color: #b7b1b185;
    float: left;
}

.mid{
    margin-top: 20px;
    width: 75%;
    float: left;
    background-color: green;
    height: 180px;
}

.mid_box1{
    height: 180px;
    background: white;
    width: 40%;
    float: left;
}
.mid_box1_content{
    font-size: 45px;
    font-family: arial;
    font-weight: 600;
    float: left;
    margin-right: 90px;
    margin-left: 25px;
    margin-top: 10px;
    background-color: white;
}


.mid_box2{
    float: left;
    background-color: white;
    height: 180px;
    width: 60%;
}

.mid_box2_content {
    font-size: 20px;
    font-family: arial;
    float: left;
    margin-top: 25px;
    background-color: white;
    color: #494947;
    margin-right: 60px;
}

.mid_box2_button {
    font-weight: 700;
    padding: 10px;
    background-color: #ff4e0c;
    float: left;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    font-family: arial;
}



.bottom {
    background-color: red;
    width: 100%;
    height: 350px;
    float: left;
}


@font-face {
    font-family: arial;
    src: url(font/ARIAL.TTF);
}